%article.how_to
  %h2
    = @question.title
    - if @question.user == current_user
      = link_to "Delete", question_path(@question), :method => :delete, :confirm => "Are You Sure ??"
  %span.author
    By #{link_to(@question.user.name, user_show_path(@question.user))}
  %span.date
    = formatted_time @question.created_at
  %br
  %span.author
    Category: #{@question.category.name}
  %div.instructions
    = simple_format( coderay(@question.description) )
  - if @question.screenshot.to_s
    %div#screenshot_thumbnail
      = image_tag @question.screenshot.to_s, :class => "thumbnail", :alt => "Click to View Larger Image"
    %div#screenshot{ :title => "Screenshot"}
      = image_tag @question.screenshot.to_s

