#main.grid_8.alpha
  %h1 What's your ??
  = semantic_form_for @question , :html => {:multipart => true} do |f|
    = f.inputs do
      = f.input :title
      = f.input :description
      = f.input :screenshot, :as => :file
      = f.autocompleted_input :new_category, :url => autocomplete_category_name_how_tos_path, :label => "Category", :required => true
    = f.buttons
  = link_to "Cancel", user_root_path

#main.grid_4.omega
  %div#instructions
    %h4 Instructions:

    %p SOMEBODY MAY HAVE HAD THIS PROBLEM BEFORE
    %p - Checkout previous questions first so that it doesn't get repeated
    %p
      \- Supports textile
      %a{ :href => "http://textile.thresholdstate.com/", :class => "textile_link" }
        Try Textile
    %p - To include code: wrap it in a code element with attribute lang giving the language
    For Example
    %pre
      :preserve
           &lt;code lang="ruby">
           def hello
            puts "Hello, world!"
           end
           &lt;/code>
    Supported Languages Are
    %pre
      :preserve
            C, C++
            CSS
            Delphi
            diff
            Groovy (beta)
            HTML
            Java
            JavaScript
            JSON
            Nitro-XHTML
            PHP
            Python
            RHTML (ERB+HTML)
            Ruby
            Scheme (beta)
            SQL
            XML
            YAML
  %div#categories{:style => "display: none;"}
    %h4 Categories
    %ul
      - Category.all.each do |category|
        %li
          = category.name
  = javascript_include_tag 'display_categories'


