%h3
  = "#{@comment.user.name} has commented on your #{@commentable.class} \"#{@commentable.title}\" "
%p
  GoTo
  - if @commentable.class.to_s == "Question"
    = link_to @commentable.title, question_url(@commentable)
  - elsif @commentable.class.to_s == "HowTo"
    = link_to @commentable.title, how_to_url(@commentable)
  to Check it Out
