%ul.comments_list
  %h6
    %span#comments_no
      = pluralize(commentable.comments.length, "comment")
  - commentable.comments.each do |comment|
    %li
      = render :partial => "comments/comment", :locals => { :comment => comment }
- if user_signed_in?
  = form_for(([commentable, commentable.comments.build]), :remote => true) do |f|
    = f.label :message, "Comment"
    %br/
    = f.text_area :message, :rows => 10
    %a{ :href => "http://textile.thresholdstate.com/", :class => "textile_link" }
      Try Textile
    %br/
    = f.submit "Post comment"
- else
  Login to Comment
