%h1
  = "#{display_name(@user)} Page"
  = link_to "Edit Profile",edit_user_registration_path if @user == current_user
.notes_board.grid_11.alpha
  #main.grid_6.alpha
    %h3 How Tos
    = link_to "Create a How To", new_how_to_path, :class => "create_question" if @user == current_user
    - @how_tos.each do |how_to|
      = render :partial => "how_tos/how_to_teaser", :locals => { :how_to => how_to }
  #main.grid_5.omega
    %h3 Questions
    = link_to "Ask a Question", new_question_path, :class => "create_question" if @user == current_user
    - @questions.each do |question|
      = render :partial => "questions/question_teaser", :locals => { :question => question }
