<div id="main" class="grid_12 alpha" >
  <h3>How Tos</h3>
  <span>Order By: </span>
  <%= form_tag how_tos_path, :method => :get do %>
    <%= select_tag :attribute, options_for_select([["Date","created_at"], ["Popularity","likes"], ["Title","title"]], params[:attribute]) %>
    <%= select_tag :order, options_for_select(["DESC","ASC"], params[:order]) %>
    <%= select_tag :category, options_for_select( [["All","*"]]+Category.all.map{ |c| [c.name, c.id] } , params[:category]) %>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Filter" %>
  <% end %>
  <ul>
   <% @how_tos.each do |how_to| %>
     <li><%= link_to how_to.title, how_to_path(how_to) %></li>
   <% end %>
   </ul>
</div>


