!!!
%html
  %head
    %title SproutNotes
    = stylesheet_link_tag '960', 'formtastic', 'jquery-ui-1.8.11.custom', 'pink_theme', 'style', 'coderay', 'table'
    = javascript_include_tag 'jquery.min', 'jquery-ui-1.8.11.custom.min', 'rails', 'autocomplete-rails','application'
    = csrf_meta_tag
  %body
    #wrapper.container_12
      %header#header.grid_12
        %h1= link_to "Sprout Notes", :root
        #login_links
          - if user_signed_in?
            %span.user_name= current_user.name
            = link_to "My page", user_root_path
            = link_to "Log out",destroy_user_session_path
          - else
            = link_to "Sign In",new_user_session_path
            = link_to "Sign Up",new_user_registration_path
        = form_tag(how_tos_path, :method => "get") do
          = search_field_tag :search, params[:search]
          = submit_tag("Search")
      #content
        %nav
          %ul#menu.clearfix
            %li= link_to "HowTos", how_tos_path
            %li= link_to "Questions", questions_path
            %li= link_to "Users", users_path
          %p.notice= notice
          %p.alert= alert
        = yield
      %footer#footer.grid_12
        %p
          Copyright &copy; 2011
          %a{:href => "#"} SproutNotes
