<!DOCTYPE html>
<html>
<head>
  <title>SproutNotes</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag 'jquery.min', 'rails', 'application' %>
  <%= csrf_meta_tag %>
</head>
<body>
  <div id = "wrapper" class="container_12">
    <header id="header" class="grid_12">
      <h1><a href="index.html">Sprout Notes</a></h1>
      <div id = "login_links">
        <span class = 'user_name'>Abhaya</span>
        <a href= "/">Sign In</a>
        <a href= "/">Sign Up</a>
      </div>
      <%= form_tag(search_path, :method => "get") do %>
        <%= text_field_tag(:q) %>
        <%= submit_tag("Search") %>
      <% end %>
    </header>
    <div id="content">
        <nav>
            <ul id="menu" class="clearfix">
                <li><a href= "/">HowTos</a></li>
                <li><a href= "/">Questions</a></li>
                <li><a href= "/">Categories</a></li>
                <li><a href= "/">Authors</a></li>
            </ul>
            <br class="clear" />
        </nav>
        <p class="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p>
        <%= yield %>
    </div>
    <footer id="footer" class="grid_12">
        <p>Copyright &copy; 2011 <a href="#">SproutNotes</a></p>
    </footer>

  </div>
</body>
</html>
